@page "/userinfo"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>User Information</h3>
<p>Username: @username</p>
<p>Email: @email</p>

@code {
    private string username = "default";
    private string email = "default@domain.com";
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
             username = user.Identity.Name; // Username
             email = user.FindFirst(c => c.Type == "emails")?.Value; // Email
                                                                           // Use username and email as needed
        }
    }
}